.app {
  display: flex;
  justify-content: center;
  background-color: #4ca9a9;
  height: 100vh;
}

.flex-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
