.app{
  display: flex;
  justify-content: center;
  background-color: aqua;
  height: 100vh;
}


.flex-counter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
